<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permisos -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Leer imágenes -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- Leer almacenamiento en Android 12 o menor -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HachiApp">
        <activity
            android:name=".Activity.SeleccionarUbicacionActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityVolante"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityChat"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityHistorial"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityMensajes"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityAlertas"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityInicio"
            android:exported="false" /> <!-- 🔥 PANTALLA INICIAL TEMPORAL: Login -->
        <activity
            android:name=".Activity.Activity_Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ActivityRegistro"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityContrasena"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_recuperacion"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityCodigo"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityMapa"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityPerfil"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityRegistroReporte"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
    </application>

</manifest>